* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    z-index: +8;
    width: 100%;
}

nav:hover {
    transform: scale(1.01);
}

.nav-transparent {
    box-sizing: border-box;
    background-color: transparent;
}

.nav-colored {
    background-color: black;
    box-shadow: 5px #b31e92;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(245, 213, 155);
    transition: color 0.5s;
}

nav ul li a:hover {
    /* text-decoration: underline 5px solid rgb(187, 61, 212); */
    border-bottom: 2.5px solid black;
    color: white;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    top: 100px;
}

 .card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
    box-shadow: 20px 20px 50px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: linear-gradient(rgb(102, 9, 9),#b31e92);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content h2 {
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 35px;
    position: relative;
    top: 40px;
    color: rgb(255, 255, 255);
}

#topd{
    top: -150px;
}

.container .card .content img {
    position: relative;
    margin: auto;
    height: 200px;
    width: 200px;
    top: 50px;
    filter: invert(50%);
    opacity: 0.5;
}

.container .card .content p {
    position: relative;
    top: -130px;
    color: rgb(158, 152, 152);
    font-weight: bold;
    line-height: 30px;

}
a{
    text-decoration: none;
}