form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#_progress1 {
    position: fixed;
   background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3px;
    top: 0px;
    z-index: 5;
}
#_progress2 {
    position: fixed;
    background-color: rgb(160, 22, 22);
     width: 10%;
     height: 3px;
     top: 0px;
     z-index: 6;
 }
* {
    margin: 0;
    padding: 0;
}

textarea {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}

button {
    width: 100px;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(52, 180, 52);
}

body {
    min-height: 100vh;
    background-color: #161623;
    scroll-behavior: smooth;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(23% at right 55%);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    z-index: +1;
    width: 100%;
}

nav:hover {
    transform: scale(1.01);
}

.nav-transparent {
    box-sizing: border-box;
    background-color: transparent;
}

.nav-colored {
    background-color: black;
    box-shadow: 5px #b31e92;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover {
    text-decoration: underline 5px solid rgb(187, 61, 212);
}

.line {
    position: absolute;
    background-color: white;
    height: 3px;
    width: 80%;
    /* margin: auto; */
    top: 47px;
    left: 10%;
}

.box {
    top: 200px;
    position: relative;
    width: 50%;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    z-index: +1;
    color: rgb(248, 248, 248);
    padding: 20px;
    border-bottom: 5px solid white;
    box-shadow: #b31e92;
    border-right: 5px solid white;
    background: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-style: oblique;
    padding: 20px;
}

.box p {
    line-height: 1.9em;
    text-align: left;
    color: rgb(128, 194, 180);
}

.box h1 {
    line-height: 1.9em;
    text-align: left;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.colleges {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.colleges ul {}

.boxc {
    top: 200px;
    position: relative;
    width: 70%;
    height: 430px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 60px;
    z-index: +1;
    color: rgb(248, 248, 248);
    padding: 20px;
    box-shadow: #b31e92;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-style: oblique;
    align-items: center;
    box-shadow: 2px 5px #a152c0;
}

.boxc img {
    position: relative;
    top: -500px;
    width: 100%;
    height: 425px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 20px 20px 30px rgba(1, 2, 1, 0.5);
    filter: blur(1px);
    border-left: 5px rgba(1, 1, 1, 0.5);
}

.boxc div {
    position: relative;
    top: -130px;
    /* transform: translateX(400px); */
    transform: translate3d(20px, -20px, 20px);
    transition: 1s;
    visibility: hidden;
    font-size: 20px;
}

li {
    text-decoration: none;
    list-style: none;
}

.boxc:hover div {
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
    color: #ffffff;
}

.boxc:hover {
    background: rgba(51, 49, 49, 0.1);
}

.boxc:hover img {
    position: relative;
    top: -490px;
    left: -370px;
    width: 30%;
    height: 150px;
    border-radius: 10px;
    border: 2px solid rgba(1, 1, 1, 0.2);
    transition: 1s;
    box-shadow: 20px 20px 30px rgba(1, 2, 1, 0.5);
    filter: blur(0px);
}

.boxc:hover h1 {
    color: rgba(110, 106, 106, 0.5);
}

.colleges div h1 {
    font-size: 150px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: +5;
}

/* .cc {
    position: relative;
    top: -120px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-100px);
    transition: 0.5s;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.cc:hover {
    transform: translateY(0px);
    opacity: 1;
} */

#course {
    position: relative;
    top: 00px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: 1.5em;
}

#coursen {
    position: relative;
    top: 00px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    line-height: 1.5em;
}

#coursei {
    position: relative;
    top: 00px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    line-height: 1.5em;
}

.pg {
    text-align: right;
}

.re {
    cursor: pointer;
    position: relative;
    top: 30px;
    transform: scale(1.1);
    color: #e5ff00;
}